# torch1.21.1+cuda11.3
pandas
warmup_scheduler==0.3
tqdm==4.64.0
opencv_python==4.4.0.44
numpy==1.18.5
scikit_learn==1.0.2
albumentations==1.2.1
neptune-client==0.9.16
pytorch-lightning==1.6.4
timm==0.6.7
jpeg4py==0.1.4
faiss-gpu==1.7.2
glob2
matplotlib